<section id="home" class="position-relative">

  <div class="container position-relative">
    <p class="brand text-white position-absolute text-uppercase fs-4"> <i class="fa-solid fa-film "></i> Movie Streaming
    </p>
    <div class="position-absolute Btn">
      <a routerLink='/signup'><button class="glow-on-hover " type="button">Sign Up</button></a>
      <a routerLink='/signin'><button class="glow-on-hover ms-2 " type="button">Sign In</button></a>
    </div>
  </div>


  <div class="container">
    <div class="title text-white col-md-10 col-lg-4  position-relative">

      <h1> Endless Entertainment
        , One Click Away!</h1>

      <p class="disc">Welcome, the ultimate destination for movie lovers. Whether you're in the mood for the
        latest blockbusters, timeless classics, or hidden gems, we’ve got something for everyone. Stream an
        ever-growing
        library of high-quality films anytime, anywhere—straight to your device. With seamless playback,
        personalized
        recommendations, and exclusive releases, we’re here to make every movie night unforgettable. Join our
        community
        and enjoy endless entertainment, all with the click of a button!</p>
       <a routerLink='/home'> <button class="glow-on-hover ms-4 btn-watch" type="button" >Watch Trending Movies</button></a>
    </div>

    
    <div class="contact-icons position-absolute ">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-youtube"></i>
    </div>
  </div>






</section>